@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

#header {
    height: 92px;
    // logo 大小
    .logo {
        width: 106px;
        height: 60px;
    }
    //調整導覽列文字顏色
    nav .navbar-nav > .nav-item > a {
        color: #374151 ;
        font-weight: 600;
        
    }
    // 調整購物車顏色
    nav .navbar-nav > .member-zone >  .cart > a {
        color: #374151 ;
        font-weight: 600;
        font-size: 180%;
        
    }
    // 調整會員按鈕顏色
    nav .navbar-nav > .member-zone >  .member > a {
        color: #374151 ;
        font-weight: 600;
        font-size: 180%;
        
    }
}

main {
    // 購物車後方背景顏色
    .canvas {
        background-color: #d1d5db !important;

        .container-up-bot {

            .container-lr {
                // 更改購物車區塊顏色, 以及圓弧角度
                .content-border {
                    background-color:#f3f4f6 !important;
                    border-radius: 10px;
                    // 標題 購物車 調整位置
                    h2 {
                        margin-top: -10px !important;
                        margin-left: -28px !important;
                        
                    }
                    // 調整進度條外框位置
                    .progress-bar-container {
                        margin-top: 30px;
                        margin-left: 80px !important;
                    }
                    // 調整進度條 大小 來配合 4 個圓標
                    .progress {
                        width: 19% !important;
                        height: 8px;
                        margin-left: 6px;
                        margin-right: 6px;
                        
                    }
                    // 調整進度條顏色以及進度條右邊圓弧角度
                    .progress-bar {                        
                        background-color: #6ee7b7 !important;  
                        border-radius: 5px;                      
                    }
                    // 調整四個圓標外型
                    .icon {
                        width: 40px !important;
                        height: 40px !important;
                        border-radius: 60px;
                        padding: 5px;
                    }
                    // 調整第一個圓標顏色
                    .bar-icon-1 {
                        background-color: #10b981 !important;
                    }
                    // 購物車下方的文字寬度和位置
                    .cart-text-container {
                        width: 98% !important;
                        margin-top: -32px !important;
                        margin-left: -15px !important;
                    }
                    // 訂單明細的背景寬度和距離調整
                    .orders {
                        width: 97% !important;
                        margin-top: -30px !important;
                        
                        // 調整卡片外框位置
                        .card-container {
                            margin-top: -40px;
                            margin-left: -25px;
                            // 所有訂單明細的卡片圖案改成圓框以及顏色覆蓋
                            .card {
                                width: 60% !important;
                                border-style: none !important;
                                background-color: #f3f4f6 ;
                                // 卡片文字調整位置
                                .card-text {
                                    margin-left: -20px;
                                    // 卡片淡的文字位置調整
                                    p {
                                        margin-top: -10px;
                                        padding-left: 20px;
                                    }
    
                                } 
                                // 覆蓋卡片淡的文字顏色
                                .text-muted {
                                    color: #bcc1c9 !important;                                
                                }
                            }
                            // 調整計算數量的位置
                            .count {
                                margin-right: -100px;
                                // 輸入框大小和顏色更改
                                input {
                                    width: 10% !important;
                                    background-color: #f3f4f6 !important;   
                                }
                            }
                        }
 
                    }
                    
                }                
            }  
        }
    }
}