* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: 0.3s;
}

body {
  margin: 0;
  padding: 0;
}

.login {
  background-image: url(../img/power-01.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.login .paragraph {
  background-color: rgba(255, 255, 255, 0.3);
  color: #CB1B45;
}

@media (max-width: 1024px) {
  .login .login-form {
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  .login .login-form .contact {
    bottom: 0px;
    left: calc(25% - calc(131.41px / 2));
  }
  .login .link {
    color: white !important;
  }
}

@media (max-width: 1024px) {
  .login .login-form .contact {
    position: unset !important;
  }
}

.login .login-form .contact {
  left: 20%;
  bottom: 0px;
}

.login .login-form .icon {
  width: 40px;
  height: 40px;
}

.login .login-form input {
  height: 60px;
  width: 80%;
  background-color: #000000;
}

.login .login-form button {
  height: 60px;
  width: 80%;
}
